/*in order to remove inital garbage*/

*{
    margin: 0ch;
    padding: 0ch;
}

/*in order to remove the dots*/
li{
    list-style-type: none;
}


a{
    text-decoration: none;
    color: black;
}

body{    
    font-family: sans-serif;
}

header{
    position: absolute;
    top: 0;
    right: 0;
    padding: .2cm;
    padding-top: .15cm;
    font-size: .35cm;
    width: 100%;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
header ul li{
    margin: 0.25cm;
}
header ul li button{
    outline: none;
    border: none;
    background-color: rgb(31, 135, 231);
    border-radius: .1cm;
    width: 2.2cm;
    height: 0.9cm;
}
header ul li button a{
    color: white;
    font-weight: 1500;
    padding: .2cm;
    padding-left: .55cm;
    padding-right: .55cm;
}
header ul li button:hover{
    background-color: rgb(27, 124, 214);
}

.images a:hover{
    text-decoration: underline;
}

.gmail a:hover{
    text-decoration: underline;
}
section{
    padding-top: 50px;
    display: flex;
    height: calc(100% - 300px);
    justify-content: center;
    align-items: center;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.5cm;
    flex-wrap: wrap;
}

.searchbar{
    padding-left: 0.4cm;
    padding-right: 0.4cm;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.12cm;
    border: 1px solid lightgrey;
    border-radius: 1cm;
}
.searchbar input{
    width: 13cm;
    border: none;
    height: .8cm;
    outline: none;
    font-size: .4cm;
}

.searchbar:hover{
    border: 1px solid rgb(163, 161, 161);
}

.micro{
    position: relative;
    display: flex;
    flex-direction: flex-end;
    padding-right: .1cm;
}

.mag{
    opacity: 50%;
    padding-right: .25cm;
}



.staker button{
    outline: none;
    border: none;
    padding-left: .5cm;
    padding-right: .5cm;
    border-radius: .15cm;
    height: 1cm;
}
.staker button:hover{
    border: .1px solid rgb(163, 161, 161);
        
}

.langs ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 13px;
    flex-wrap: wrap;
}
.langs ul li p{
    flex-wrap: wrap;
}
.langs ul li{
    margin: 5px;
    align-items: center;
}

.langs ul li a{
    color: rgb(11, 2, 129);
}

.langs ul li a:hover{
    text-decoration: underline;
}

header ul li img{
    padding: .15cm;
}
header ul li img:hover{
    border-radius: 5cm;
    background-color: rgb(185, 185, 185);
}

.India{
    position: relative;
    bottom: 40px;
    padding-left: 1cm;
}

footer{
    position: absolute;
    bottom: 0;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    background-color: rgb(228, 224, 224);
    color: rgb(131, 131, 135);
}
p{
    padding-left: .75cm;
    margin: 10px 0px;
}

.lower_footer{
    width: 100%;
}

.lower_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 400px;
    padding: .5cm 0px;
}
.lower_left a{
    padding-left: .5cm;
    flex-wrap: nowrap;
    color: rgb(131, 131, 135);
    font-size: 15px;
}
.lower_left a:hover{
    text-decoration: underline;
}

.lower_right{
    position: absolute;
    top: 1;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: .2cm;
    width: 120px;
    padding: .5cm 0px;
}

.lower_right a{
    padding-right: .5cm;
    color: rgb(131, 131, 135);
    font-size: 15px;
    cursor: pointer;
}
.lower_right a:hover{
    text-decoration: underline;
}


.Settings{
    display: none;
}

.setti:hover + .Settings{
    display: initial;
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    margin-right: 15px;
    padding: 0px 15px;
    padding-bottom: 0;
    background-color: rgb(211, 211, 211);
    border-radius: 0.25cm;
}


@media (max-width: 600px){

    .searchbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: calc(175% - 13cm);
        min-width: 8cm;
    }
    .searchbar input{
        width: calc(150% - 1cm);
        max-width: 13cm;
        min-width: 5cm;

    }
    .micro{
        position: relative;
        display: flex;
        flex-direction: flex-end;
        padding-right: .1cm;
    }
    footer{
        height: 135px;
    }
    .lower_footer{

        display: flex;
        flex-direction: column;
    }
    .lower_right{
        position: absolute;
        top: 1;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: .2cm;
        width: 100%;
        padding: .5cm 0px;
    }
    .lower_left{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        padding: .5cm 0px;
    }
}





/*
footer p{
    justify-content: space-around;
}
.lower_left{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lower_right{
    float: right;
    flex-wrap: wrap;
    justify-content: space-around
}
